*{
    font-family: "Homenaje";
}


/************ Header ************/
header{
    width: 100%;
    height: 10vh;
    color: rgb(255, 255, 255);
    background-color: #333232;
    position:fixed;
    
}

.HeaderLi{
    font-family: "Homenaje";
    float:right;
}

.h1{
    font-family: "Homenaje";
    float: left;
    padding: 3vh 4vw;
}
  
.HeaderLi .HeaderA{
    display: block;
    color: white;
    text-align: center;
    padding: 3vh 4vw;
}

/************ main ************/
figure img{
    border: 1px solid #333232;
    border-radius: 50%;

    box-shadow: 3px 3px 0px #333232; 
    
}

.Main1Parent{
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

    display: flex;
    flex-direction: row;
    padding: 20vh 5vw 7vh 5vw;
}

.Main1{
    font-size: large;
    padding: 7vw;
}


.Main2Parent{
   background-color: white;

    display: flex;
    flex-direction: row;
    padding: 7vh;
}

.Main2{
    padding-inline-start: 5%;
}

.Content{
    text-align:center;

    vertical-align: middle;
    border-radius: 10%;
    display: inline-block;
    background-color: #FFFB7D;
    box-shadow: 1px 1px 2px #afafaf; 
    width: 100px;
    height: 120px;
    padding-top: 1vh;
}

.Content:hover{
    background-color: #85FFBD;
}

.H2{
    float: right;
}
.H2:hover{
    border: 2px solid #FFFB7D;
    box-shadow: 1px 1px 2px #afafaf; 
}

/************ Footer ************/

footer{
    width: 100%;
    height: 6vh;
    background-color: #333232;

}

.FooterDiv a{
    display: inline;
}
.FooterDiv a img{
    padding-left: 1vw;
    padding-top: 1vh;
    width:2vw;height:4vh
}

.Cont{
    font-family: "Homenaje";
    border-radius: 20%;
    color: white;
    float: right;
    padding: 1vh 2vw;
}








